<% @meetups.each do |meetup| %>
  <p>
    <strong>Name:</strong> <%= meetup.name %><br>
    <strong>Location:</strong> <%= meetup.location %><br>
    <strong>Meetup Date:</strong> <%= meetup.meetup_date %><br>
    <strong>Time:</strong> <%= meetup.time %><br>
  </p>
<% end %>
