<h1>User Profile</h1>
<h3>Name: <%= @user.name %></h3>

<% if current_user && current_user == @user %>
  <div>
    <%= button_to "Edit Profile", edit_user_path(@user), method: 'get', class: 'btn btn-warning' %>
  </div>
<% end %>

<h2>Organized Meetups</h2>
