// Place all the styles related to the dog_meetups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dog_show_pic {
  text-align: center;
}
.dog_show_info {
  margin-left: 20%;
  font-size: 18px
}
