// Place all the styles related to the meetups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  position: relative;
  background: #fffcf6 url("dogs_play.jpg") center center;
  width: 100%;
  height: 500px;
  overflow: hidden;
  color: white;
  margin-bottom: 0px;
}

.meetup {
  background-color: #96cdcd;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}
.meetup_info {
  padding-top: 10px
}
.dog_pic{
  padding: 10px
}
.dog_info {
  display: inline-block;
}
.header {
  padding: 10px;
}
.call_to_action {
  text-align: center;
  font-size: 30px
}
