// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_update{
  margin-top: 4%;
  margin-left: -3%
}

.add {
  margin-top: 10%;
  margin-left: -10%
}
.meetups_links {
  font-size: 25px
}
.user_dog {
  padding: 10px;
}
